{% extends "../blog/base.html" %}

{% block content %}

    <h1>{% block title %}Log in{% endblock %}</h1>

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>

{% endblock %}
