* {
    font-family: Lora;
}

body {
    background-image: linear-gradient( #fff9e680, #fff9e680 ), url("chain_tile_vert.jpg");
    background-repeat: repeat;
}

.horiz-decoration img {
    width: 100%;
}

body > main {
    flex-basis: 100%;
    margin: 0 auto;

    width: 90%;
    max-width: 960px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 80px;
    box-shadow: 0px 0px 50px 10px #00000050;
    background-color: #fff9e6;
}

nav {
    background-color: #eadab5;
}

/* Forms */

form {
    padding-bottom: 20px;
}

form .helptext, form .errorlist {
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 0;
}

form .helptext {
    background-color: antiquewhite;
}

form .errorlist {
    background-color: lightpink;
}

form div ul {
    margin: 0;
}

/* Gallery  */

.spotlight {
    height: 300px;
}

.spotlight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Comment section */

.comment {
    border-color: lightgray;
    margin-bottom: 40px;
}

.comment img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.comment footer {
    font-weight: thin;
}

.comment header {
    font-weight: unset;
    font-size: smaller;
}

.comment_with_pfp {
    display: flex;
}

.comment p{
    padding: .6em .8em;
}

/* Google map */

iframe {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
}

.profile.card {
    margin-right: 20px;
}

.profile.card img{
    width: 100%;
}

/* Main footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > footer {
    position: relative;
    margin-top: auto;
}

body > footer .decoration{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > footer .decoration img{
    align-self: end;
}

body > footer .decoration img:nth-of-type(1) {
    bottom: -10px;
    width: 23%;
}

body > footer .decoration img:nth-of-type(2) {
    margin-bottom: 10px;
    width: 30%;
}

body > footer .decoration img:nth-of-type(3) {
    width: 23%;
    transform: scale(-1, 1);
}

body > footer .copyright{
    width: 100%;
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 9vw;
}

aside.notification {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.8rem 0.8rem;
    margin-bottom: 2rem;
}

.warning {
    background-color: lightyellow;
}

form > div {
    padding-bottom: 20px;
}
