:root {
    --bg-nav: #eadab5;
    --bg-main: #fff9e6;
}

* {
    font-family: Lora;
}

body {
    background-image: linear-gradient( #ffffffe5, #ffffffe5), url("chain_tile_vert.jpg");
    background-repeat: repeat;
}

.horiz-decoration img {
    width: 100%;
}

body > main {
    flex-basis: 100%;
    margin: 0 auto;

    width: 100%;
    max-width: 960px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 80px;
    box-shadow: 0px 0px 50px 10px #00000050;
    background-color: var(--bg-main);
    border: solid thick antiquewhite;
}

@media (min-width: 1100px) {
    body > main {
        padding-top: 30px;
        margin-top: 120px;
        margin-bottom: 70px;
    }
}

@media (max-width: 500px) {
    body > main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

nav {
    background-color: var(--bg-nav);
}

/* Main footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > footer {
    position: relative;
    margin-top: auto;

    box-shadow: 0px 10px 30px;
}

body > footer > div{
    background-color: var(--bg-nav);
    width: 100%;
    text-align: center;

    /* Picnic modifies this for some reason. */
    margin-left: 0 !important;
    width: 100% !important;

    border-style: solid;
    border-image-source: url("./grapes_border.png");
    border-image-slice: 268 229 216 232;
    border-image-repeat: space;
    border-width: 50px;
    border-bottom-width: 0;
}

/* Forms */

form {
    padding-bottom: 20px;
}

form .helptext, form .errorlist {
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 0;
}

form .helptext {
    background-color: antiquewhite;
}

form .errorlist {
    background-color: lightpink;
}

.warning {
    background-color: antiquewhite;
}


form div ul {
    margin: 0;
}

/* Gallery  */

.spotlight {
    height: 300px;
}

.spotlight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Comment section */

.comment {
    border-color: lightgray;
    margin-bottom: 40px;
}

.comment img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.comment footer {
    font-weight: thin;
}

.comment header {
    font-weight: unset;
    font-size: smaller;
}

.comment_with_pfp {
    display: flex;
}

.comment p{
    padding: .6em .8em;
}

/* Google map */

iframe {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 50vh;
}

.profile.card {
    margin-right: 20px;
}

.profile.card img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

form > div {
    padding-bottom: 20px;
}

/* Home  */

nav.transparent {
    box-shadow: none;
    background: none;
}

.hero {
    position: relative;
    width: 100%;
    transition: height 999999s;
    text-align: center;
    min-height: 100vh;

    color: #333;
    background: #b9dbff url("./bg.jpg") no-repeat 50% center scroll;
    background-size: auto;
    background-size: cover;
    box-shadow: 0px 1px 20px;
}

.hero .content {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    padding: 20px;

    font-size: larger;
    color: white;
    background-color: #000000a0;
}

aside.card.home {
    height: 30vh;
    text-overflow: ellipsis;
    overflow: hidden;
}

aside.card.home img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}
