{% extends "blog/base.html" %}

{% block content %}

    <h1>{% block title %}About{% endblock %}</h1>

    <p>
        Welcome to our blog!
        It is dedicated to posts about tourist attractions in Moldova.
    </p>

    <p>
        We are a group of students from the Technical University of Moldova.
        This website was implemented during a semester for the subject of Secure Application Development.
        Thus, we implemented quite a few security measures, and used good pracices and everything.
    </p>

{% endblock content %}
