<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block title %}Default title{% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">

        <script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js" ></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <header>
            <nav>
                <ul>
                    <li> <a href="{% url 'blog:index' %}"> Home </a> </li>
                    <li> <a href="{% url 'blog:post_list' %}"> Posts </a> </li>
                </ul>
                <ul>
                    {% if user.is_authenticated %}

                        <li> <a href="{% url 'blog:user_detail' user.id %}">Profile</a> </li>

                        <li> <a href="{% url 'password_change' %}">Change password</a> </li>

                        <li>
                            <form style="display: none" id="logout_form"
                                  method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                            </form>
                            <button type="submit" form="logout_form"> Logout </button>
                        </li>

                    {% else %}

                        <li> <a href="{% url 'login' %}">Login</a> </li>

                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

    </body>
</html>
