{% extends "blog/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block header %}

    <header class="hero">
        <div class="content">
            <h1>Ever heard about Moldova?</h1>
            <p>If not, you're in the right place! Welcome to the virtual tour to our beautiful country.</p>
        </div>
    </header>
{% endblock %}

{% block content %}

    <h2>Latest posts</h2>
    <div class="flex one two-500 four-800">
        {% for post in latest_posts %}
            <div>
                <a href="{{ post.get_absolute_url }}">
                    <aside class="card home">
                        <img src="{% get_media_prefix %}{{ post.image_set.all.0.file.name }}">
                        <footer>
                            {{ post.title }}
                        </footer>
                    </aside>
                </a>
            </div>
        {% endfor %}
    </div>

    <h2>Most popular posts</h2>
    <div class="flex one two-500 four-800">
        {% for post in popular_posts %}
            <div>
                <a href="{{ post.get_absolute_url }}">
                    <aside class="card home">
                        <img src="{% get_media_prefix %}{{ post.image_set.all.0.file.name }}">
                        <footer>
                            {{ post.title }}
                        </footer>
                    </aside>
                </a>
            </div>
        {% endfor %}
    </div>

    <script>// Transparent nav handler
     var nav = document.querySelector('nav');
     function navScroll(){
         var className = 'transparent';
         var top = window.scrollY ? window.scrollY : document.documentElement.scrollTop;
         if (top > 0) {
             nav.classList.remove(className);
             [].forEach.call(document.querySelectorAll('[data-src]'), function(iframe){
                 iframe.setAttribute('src', iframe.getAttribute('data-src'));
                 iframe.removeAttribute('data-src');
             });
         } else {
             nav.classList.add('transparent');
             nav.classList.add(className);
         }
     };
     window.onscroll = navScroll;
     navScroll();
     setTimeout(function(){ nav.classList.remove('loading'); }, 10);
    </script>

{% endblock content %}
