{% extends "blog/base.html" %}

{% block content %}

    <article>
        <header>
            <h1>{% block title %}{{post.title }}{% endblock %}</h1>
            <p><time datetime="{{ post.pub_date.isoformat }}">{{ post.get_time_passed }}</time></p>
            <link href="?comments=0">
        </header>

        {{ post.text | linebreaks }}

    </article>

    <section class="comment">
        <h1>Comments</h1>

        {% for comment in post.comment_set.all %}
            <aside>
                <link href="#c1">
                <div class="author">
                    {% if comment.author %}
                        <a>{{comment.author.username}}</a>
                    {% else %}
                        [deleted]
                    {% endif %}
                    <time datetime="{{ comment.pub_date.isoformat }}">{{ comment.get_time_passed }}</time>
                </div>
                <p> {{ comment.text | linebreaks }} </p>
            </aside>
        {% endfor %}

        {% if user.is_authenticated %}
            <section>
                <form method="post" action="{% url 'blog:create_comment' post.id %}">
                    {% csrf_token %}
                    <h2>Leave a comment</h2>
                    {{ comment_form }}
                    <input type="submit" value="Comment">
                </form>
            </section>
        {% endif %}

    </section>

{% endblock content %}
