{% extends "blog/base.html" %}

{% load static %}

{% block content %}

    <article>
        <header>
            <h1>{% block title %}{{post.title }}{% endblock %}</h1>
            <p>
                Posted
                <time datetime="{{ post.pub_date.isoformat }}">{{ post.get_time_passed }}</time>
                {% if post.author %}
                    by <a href="{{ post.author.profile.get_absolute_url }}"> {{post.author.username}} </a>
                {% endif %}
            </p>
        </header>

        {{ post.text | linebreaks }}

    </article>

    {% if post.image_set.all %}
        <section>
            <header>
                <h2>Gallery</h2>
            </header>

            <div class="flex one two-800 three-1200 grow demo">
                {% for img in post.image_set.all %}
                    <div>
                        <article class="card">
                            <a class="spotlight"
                               href="{{ img.file.url }}"
                               data-description="{{ img.description }}">
                                <img src="{{ img.file.url }}" alt="{{ img.alt }}">
                            </a>
                        </article>
                    </div>
                {% endfor %}
            </div>

        </section>
    {% endif %}

    {% if post.location %}
        <section>
            <header>
                <h2>Location</h2>
            </header>

            <iframe
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCFTeAI-DV6kRHMJN_iHT2cpmJKsMjCTBw
                       &q={{ post.location | urlencode }}
                       &maptype=satellite">
            </iframe>

        </section>
    {% endif %}


    <section>

        <header>
            <h2>Comments</h2>
        </header>

        {% if user.is_authenticated %}
            <section>
                <form method="post" action="{% url 'blog:create_comment' post.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="Comment">
                </form>
            </section>
        {% endif %}

        {% if not post.comment_set.all %}
            <p>Cricket chirp...</p>
        {% else %}
            {% for comment in post.comment_set.all %}

                <aside id="{{ comment.pk }}" class="card comment comment_with_pfp">
                    <img
                        {% if comment.author.profile.picture %}
                            src="{{  comment.author.profile.picture.url }}"
                        {% else %}
                            src="{% static 'blog/blank_profile_picture.png' %}"
                        {% endif %}
                        alt="User's profile picture" />

                    <div>
                        <header>
                            {% if comment.author %}
                                <a href="{{ comment.author.profile.get_absolute_url }}">
                                    {{comment.author.username}}
                                </a>
                            {% else %}
                                [deleted]
                            {% endif %}
                            posted
                            <a href="{{  comment.get_absolute_url }}">
                                <time datetime="{{ comment.pub_date.isoformat }}">{{ comment.get_time_passed }}</time>
                            </a>
                        </header>
                        <p> {{ comment.text | linebreaksbr }} </p>
                    </div>
                </aside>

            {% endfor %}
        {% endif %}

    </section>


{% endblock content %}
