{% extends "blog/base.html" %}

{% block content %}

    <article>
        <header>
            <h1>{{post.title }}</h1>
            <p><time datetime="2009-10-09">3 days ago</time></p>
            <link href="?comments=0">
        </header>

        {{ post.text | linebreaks }}

    </article>

    <section class="comment">
        <!-- This HTML structure looks funky, but it's the right way: https://stackoverflow.com/a/12648918 -->
        <header>
            <h1>Comments</h1>
        </header>

        {% for comment in post.comment_set.all %}
            <aside>
                <link href="#c1">
                <div class="author">
                    <a>George Washington</a> <time datetime="2009-10-10">15 minutes ago</time>
                </div>
                <p> {{ comment.text }} </p>
            </aside>
        {% endfor %}

    </section>


{% endblock content %}
