{% extends "blog/base.html" %}

{% load static %}

{% block title %}{{userobj.username}}'s profile{% endblock %}

{% block content %}

    {% if user.id == userobj.id and user.email == "" %}
        <aside class="card warning">
            <footer >

            You still haven't <a href={% url 'add_email' %}>verified your email</a>.
            You won't be able to reset your password without it.
            </footer>
        </aside>
    {% endif %}

    <section class="flex three center">
        <div class="two-third third-800">
            <div class="profile card">
                <img
                    {% if userobj.profile.picture %}
                        src="{{  userobj.profile.picture.url }}"
                    {% else %}
                        src="{% static 'blog/blank_profile_picture.png' %}"
                    {% endif %}
                    alt="User's profile picture" />

                <footer>
                    <h2>{{ userobj.username }}</h2>
                    <p>Role: {{ userobj.profile.role }}</p>
                </footer>
            </div>
            {% if userobj.id == user.id %}
                <a class="button" href="{% url "blog:profile_update" %}">Edit profile</a>
                <a class="button" href="{% url 'password_change' %}">Change password</a>
                {% if userobj.email %}
                    <a class="button" href="{% url 'add_email' %}">Change email</a>
                {% endif %}
            {% endif %}
        </div>

        <div class="full two-third-800">
            <section>
                <header>
                    <h2>About me</h2>
                </header>
                <p>{{userobj.profile.bio}}</p>
            </section>

            {% if userobj.post_set.all %}
                <section>
                    <header>
                        <h2>Posts</h2>
                    </header>

                    <ul>
                        {% for post in userobj.post_set.all %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">
                                    {{ post.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            <section>
                <header>
                    <h2>Comments</h2>
                </header>

                {% for comment in comments %}
                    <aside id="{{ comment.pk }}" class="card comment">
                        <header>
                            <a href="{{  comment.get_absolute_url }}">
                                <time datetime="{{ comment.pub_date.isoformat }}">{{ comment.get_time_passed }}</time>
                            </a>
                            , on post <a href="{{ comment.post.get_absolute_url }}">{{ comment.post.title | truncatechars:50 }}</a>
                        </header>
                        <p> {{ comment.text | linebreaksbr }} </p>
                    </aside>
                {% endfor %}

            </section>
        </div>
    </section>


{% endblock content %}
