{% extends "blog/base.html" %}

{% load static %}

{% block title %}{{userobj.username}}'s profile{% endblock %}

{% block content %}

    {% if user.id == userobj.id and user.email == "" %}
        <aside class="notification">
            You still haven't <a href={% url 'email_form' %}>verified your email</a>.
            You won't be able to reset your password without it.
        </aside>
    {% endif %}

    <div class="profile-view">
        <article>
            <header>
                <img class="profile-pic"
                     {% if userobj.profile.picture %}
                     src="{{  userobj.profile.picture.url }}"
                     {% else %}
                     src="{% static 'blog/blank_profile_picture.png' %}"
                     {% endif %}
                     alt="User's profile picture" />
                <h2>{{ userobj.username }}</h2>
                <p>{{ userobj.profile.role }}</p>
            </header>

            <p>{{userobj.profile.bio}}</p>
        </article>

        <article>

            {% if userobj.post_set.all %}
                <section>
                    <header>
                        <h2>Posts</h2>
                    </header>

                    <ul>
                        {% for post in userobj.post_set.all %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">
                                    {{ post.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            <section class="comment">
                <header>
                    <h2>Comments</h2>
                </header>

                {% for comment in comments %}
                    <aside>
                        <div class="author">
                            <a href="{{  comment.get_absolute_url }}">
                                <time datetime="{{ comment.pub_date.isoformat }}">{{ comment.get_time_passed }}</time>
                            </a>
                            , on post <a href="{{ comment.post.get_absolute_url }}">{{ comment.post.title | truncatechars:50 }}</a>
                        </div>
                        <p> {{ comment.text | linebreaks }} </p>
                    </aside>
                {% endfor %}

            </section>
        </article>
    </div>

{% endblock content %}
